
<div class="container" id="proyects">
    <h2 id="title"> Proyectos</h2>
    <div class="row tarjetaProyecto">
      <div *ngFor="let elemento of misProyectos; let i=index" class="row proyecto" id="Proyecto1">
        <div class="col-md-4 timeline-content">
          <a href="{{ elemento.url_deploy}}" target="_blank"> <img src= "{{ elemento.url_captura }}" alt="{{ elemento.titulo}}" class="img-fluid"> </a>

        </div>
        <div class="col-md-8 timeline-content ">
            <div class="inner-content flexColumn">
              <h3 class="title">{{ elemento.titulo}}</h3>
              <p class="description">
                  {{elemento.descripcion}}
              </p>
              <button class="btnRepositorio"><a href="{{ elemento.url_deploy}}" target="_blank">Ver repositorio</a></button>
            </div>
        </div>
      </div>
    </div>
</div>


