<p>proyectos works!</p>
<div class="container">
    <h2 id="title"> Proyectos</h2>
    <div class="row">
        <div class="row proyecto" id="Proyecto1">
          <div class="col-md-4 timeline-content">
            <a href="#"><img src="../../../assets/clonPortfolio.png" alt="ClonPortfolio" class="img-fluid"></a>
          </div>
          <div class="col-md-8 timeline-content">
              <div class="inner-content">
                <h3 class="title">Clon Portfolio</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                </p>
              </div>
          </div>
        </div>
        <div class="row proyecto" id="Proyecto4">
          <div class="col-md-4 timeline-content">
            <a href="#"><img src="../../../assets/ClonInicioGoogle.png" alt="ClonInicioGoogle" class="img-fluid"></a>
          </div>
          <div class="col-md-8 timeline-content">
              <div class="inner-content">
                <h3 class="title">Clon google</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                </p>
              </div>
          </div>
        </div>
        <div class="row proyecto" id="Proyecto2">
          <div class="col-md-4 timeline-content">
            <a href="#"><img src="../../../assets/boostrap.png" alt="Primer Proyecto Boostrap" class="img-fluid"></a>
          </div>
          <div class="col-md-8 timeline-content">
              <div class="inner-content">
                <h3 class="title">Clon Nintendo con Boostrap</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                </p>
              </div>
          </div>
        </div>
        <div class="row proyecto" id="Proyecto3">
          <div class="col-md-4 timeline-content">
            <a href="#"><img src="../../../assets/Udemy_Web.png" alt="WebCOmpleta" class="img-fluid"></a>
          </div>
          <div class="col-md-8 timeline-content">
              <div class="inner-content">
                <h3 class="title">WebCompleta - Udemy</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                </p>
              </div>
          </div>
        </div>
    </div>
</div>
