<div class="container" id="education">
  <h2 id="title"> Educacion</h2>
  <div class="row">
    <div class="col-md-12 timeline-content">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div *ngFor="let elemento of misEstudios; let i=index" class="accordion-item">
          <h4 class="accordion-header" [attr.id]="'panelsStayOpen-heading'+(i+1)">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" [attr.aria-controls]="'panelsStayOpen-collapse'+(i+1)">
              <h3 class="title">{{elemento.carrera}}</h3>
            </button>
          </h4>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" [attr.aria-labelledby]="'panelsStayOpen-heading'+(i+1)">
            <div class="accordion-body">
              <div class="row description">
                <div class="col-md-8">
                  <p><strong>Institución: </strong> {{elemento.institucion}} </p>
                </div>
                <div class="col-md-4">
                  <p><strong>Nivel: </strong>{{elemento.tipo_educacion}}</p>
                </div>

              </div>
              <div class="row information">
                <div class="col-md-4">
                  <p><strong>Estado: </strong>{{elemento.estado}} </p>
                </div>
                <div class="col-md-4">
                  <p><strong>Inicio: </strong>{{elemento.anio_inicio}}  </p>
                </div>
                <div class="col-md-4">
                  <p><strong>Fin: </strong>{{elemento.anio_fin}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
<!--
  <div class="container">
    <h2 id="title"> Proyectos</h2>
    <div class="row">
      <div *ngFor="let elemento of misProyectos; let i=index" class="row proyecto" id="Proyecto1">
        <div class="col-md-4 timeline-content">
          <a href="{{ elemento.url_repositorio}}"> <img src= "{{ elemento.url_captura }}" alt="{{ elemento.titulo}}" class="img-fluid"> </a>

        </div>
        <div class="col-md-8 timeline-content">
            <div class="inner-content">
              <h3 class="title">{{ elemento.titulo}}</h3>
              <p class="description">
                  {{elemento.descripcion}}
              </p>
            </div>
        </div>
      </div>
    </div>
</div>
-->
