#content{
  display: inline-flex;
  width:100%;
}
#posteo, #box{
  /* background: lightblue;
  border: 1px rgb(78, 169, 199) solid; */
  position: absolute;
  top: 60%;
  width: 60%;
  float:left;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
}
.post .date{
  font-size: 1.2rem;
  font-style: italic;
  color: rgb(150, 150, 150);
  text-transform: capitalize;
  margin-top: 0.5rem;
  display: block;
}
.post p, #box p, #box span{
  font-size: 1rem;
  line-height:1.3rem;
  margin-top: 1rem;
  text-align: justify;
}
.post h2, #box h2{
  font-size: 3rem;
  text-transform:uppercase;
}
#box h3{
  font-size: 2rem;
  text-transform:uppercase;
}
