<div id="posteo">
  <h2>Educación</h2>
  <article class="post">
      <div class="row">
        <div class="col-2"><h3>Institucion</h3></div>
        <div class="col"><span class="date">Periodo</span></div>
      </div>
      <h5>Titulo:</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, eos. Quia adipisci molestias quaerat asperiores quis magnam quam, vel veritatis officiis beatae iusto eos quae minima rerum hic, recusandae vitae.
      Cum maxime minus nihil similique, quod temporibus accusantium repellendus, aliquid neque ratione doloremque aspernatur quam quibusdam. Est sunt doloremque id. Delectus quod aspernatur amet vero accusantium. Molestias a assumenda repellendus?
      Veniam distinctio magni dolorem inventore eaque. Aspernatur dicta quis odit quam quidem a aut molestias mollitia pariatur odio autem cum, similique voluptatem adipisci tempore fugit nisi accusamus officia rem consectetur.</p>
      <a href="#" class="btn-more">leer más</a>
  </article>
</div>
