
<div class="container">
  <h2 id="title"> ACERCA DE MI</h2>
  <div class="row">
    <div class="col-md-12 timeline-content">
      <p class="description">
        Soy estudiante de programación, apasionada por aprender y superarme. Actualmente estoy incorporando herramientas de  programación full stack. <br>
      Soy emprendedora, responsable, proactiva, con gran capacidad de aprendizaje, y fuerte interés en el trabajo en equipo y el desarrollo personal y profesional.<br>
      Actualmente me encuentro en búsqueda de una empresa donde dar los primeros pasos como developer y desarrollar mi potencial, sumando conocimientos y experiencia para establecerme profesionalmente.
    </p>
    </div>
  </div>
</div>
