<div class="container-fluid">
  <span>
    <p id="title"> ACERCA DE MI<p>
    <p id="cuerpo">Soy estudiante de programación, apasionada por aprender y superarme. Actualmente estoy incorporando herramientas de  programación full stack. <br>
      Soy emprendedora, responsable, proactiva, con gran capacidad de aprendizaje, y fuerte interés en el trabajo en equipo y el desarrollo personal y profesional.<br>
      Actualmente me encuentro en búsqueda de una empresa donde dar los primeros pasos como developer y desarrollar mi potencial, sumando conocimientos y experiencia para establecerme profesionalmente.</p>
    </span>
</div>
