*{
  color: #373b41;

}

#title{
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: bold;
  font-size: 75%;
}

.container-fluid {
  background-color: aquamarine;
  box-sizing: content-box;
  max-height: 85px;
  padding-bottom: 0px;
  margin:0px;

}

p{
  margin-bottom: 1%;
  font-size: 53%;
}
p#cuerpo{
  margin:0px 0px 0px;
}
