*{
  color: #373b41;

}

#title{
  margin-top: 2rem;
  margin-bottom: 1%;
  font-weight: bold;
  text-transform:uppercase;
}
/* .row{
  vertical-align: end;
  justify-content: center;
  margin-top: 20px;
} */
a{
  text-decoration: none;
}

.container{
  background-color:#efbf2d;
  margin: 1rem auto;
}
.btn{
  font-weight: bold;
  text-transform:uppercase;
  background-color: #373b41;
  border-radius: 15PX;
  width: 10rem;
  color: #efbf2d;
  margin:1rem;
}

.margin-top-1{
  margin-top: 1rem;
}

.btn:hover {
  color: #373b41;
  background-color: #df7f00;
  border-color: #df7f00;
}
a:hover {
  color:  #df7f00;
}
.centrado{
  margin:0 auto;
}
.social
{
  padding-bottom:1rem;
  justify-content: center;
}
