div{
  background-color: #efbf2d;
  height:50px;
}

.navbar {
  padding:0px;
  border-top: 1px solid #efbf2d;
  margin-top:25px;
  margin-bottom: 0px;
  display: flex;
}
.navbar-expand-sm .navbar-collapse {
  justify-content:center;
}
span{

}
