<!-- esto fuinciona ok
<div id="banner">
  <app-logo-ap></app-logo-ap>
  <app-log-in></app-log-in>
  <app-social-nets></app-social-nets>
</div>
-->

<div class="container-fluid cew-9">
  <div id="banner">
    <div class="row" id="row1">
      <div class="col">
        <app-logo-ap></app-logo-ap>
      </div>
      <div class="col">
        <app-social-nets></app-social-nets>
      </div>
    </div>

    <div class="row" id="row2">
      <app-log-in></app-log-in>
    </div>
    <div class="row" id="row3">
      <div class="col">
        <h1> titulo de la seccion </h1>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>

