<!--<div id="posteo" class="container-fluid">
  <h2 id="title">EXPERIENCIA LABORAL</h2>
  <article class="post">
      <div class="row">
        <div class="col-2"><h3>Empresa</h3></div>
      </div>
      <div class="row">
        <div class="col"><span class="date">Periodo</span></div>
      </div>
      <h5>Puesto:</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, eos. Quia adipisci molestias quaerat asperiores quis magnam quam, vel veritatis officiis beatae iusto eos quae minima rerum hic, recusandae vitae.
      Cum maxime minus nihil similique, quod temporibus accusantium repellendus, aliquid neque ratione doloremque aspernatur quam quibusdam. Est sunt doloremque id. Delectus quod aspernatur amet vero accusantium. Molestias a assumenda repellendus?
      Veniam distinctio magni dolorem inventore eaque. Aspernatur dicta quis odit quam quidem a aut molestias mollitia pariatur odio autem cum, similique voluptatem adipisci tempore fugit nisi accusamus officia rem consectetur.</p>
      <a href="#" class="btn-more">leer más</a>
  </article>
</div>
-->


<div class="container">
  <h2 id="title">EXPERIENCIA LABORAL</h2>
  <div class="row">
      <div class="col-md-12">
          <div class="main-timeline4">
              <div class="timeline">
                  <a href="#" class="timeline-content">
                      <span class="year">2018</span>
                      <div class="inner-content">
                          <h3 class="title">Web Designer</h3>
                          <p class="description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                          </p>
                      </div>
                  </a>
              </div>
              <div class="timeline">
                  <a href="#" class="timeline-content">
                      <span class="year">2017</span>
                      <div class="inner-content">
                          <h3 class="title">Web Developer</h3>
                          <p class="description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                          </p>
                      </div>
                  </a>
              </div>
              <div class="timeline">
                  <a href="#" class="timeline-content">
                      <span class="year">2016</span>
                      <div class="inner-content">
                          <h3 class="title">Web Designer</h3>
                          <p class="description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                          </p>
                      </div>
                  </a>
              </div>
              <div class="timeline">
                  <a href="#" class="timeline-content">
                      <span class="year">2015</span>
                      <div class="inner-content">
                          <h3 class="title">Web Developer</h3>
                          <p class="description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                          </p>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
