<div class="container" id="skills">
    <h2 id="title"> Habilidades</h2>
    <!--
    <div class="row">
      <h3 class="title">Hard Skills</h3>
      <div class="col-md-12 timeline-content">
        <div class="big">
          <div>
            <p class="description">
              Lorem ipsum
            </p>
            <div class="pie pie--value pie--disc" style="--percent:35;"> </div>
          </div>
          <div>
            <p class="description">
              Lorem ipsum
            </p>
            <div class="pie pie--value pie--disc" style="--percent:15;"></div>
          </div>
          <div>
            <p class="description">
              Lorem ipsum
            </p>
            <div class="pie pie--value pie--disc" style="--percent:65;"></div>
          </div>
          <div>
            <p class="description">
              Lorem ipsum
            </p>
            <div class="pie pie--value pie--disc" style="--percent:85;"></div>
          </div>
          <div>
            <p class="description">
              Lorem ipsum
            </p>
            <div class="pie pie--value pie--disc" style="--percent:85;"></div>
          </div>
          <div>
            <p class="description">
              Lorem ipsum
            </p>
            <div class="pie pie--value pie--disc" style="--percent:85;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3 class="title">Habilidades blandas</h3>
      <div class="col-md-12 timeline-content">
        <div class="big">
          <div>
            <p class="description">
              Lorem ipsum
            </p>
            <div class="pie pie--value pie--disc" style="--percent:35;"> </div>
          </div>
          <div>
            <p class="description">
              Lorem ipsum
            </p>
            <div class="pie pie--value pie--disc" style="--percent:15;"></div>
          </div>
          <div>
            <p class="description">
              Lorem ipsum
            </p>
            <div class="pie pie--value pie--disc" style="--percent:65;"></div>
          </div>
          <div>
            <p class="description">
              Lorem ipsum
            </p>
            <div class="pie pie--value pie--disc" style="--percent:85;"></div>
          </div>
          <div>
            <p class="description">
              Lorem ipsum
            </p>
            <div class="pie pie--value pie--disc" style="--percent:85;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <h3 class="title">Discos animados con angular</h3>
        <div class="col-md-12 timeline-content">
            <div class="big">
                <div class="skill">
                  <p class="description">
                     Angular
                  </p>
                  <circle-progress
          [percent]="85"
          [radius]="50"
          [outerStrokeWidth]="12"
          [innerStrokeWidth]="5"
          [clockwise]="false"
          [responsive]="false"
          [showUnits]="false"
          [showTitle]="false"
          [showSubtitle]="false"
          [showImage]="true"
          [titleFontSize]=" '35' "
          [imageSrc]="'../../../assets/gangxxs.png'"
          [imageHeight]="50"
          [imageWidth]="50"
          [titleColor]=" '#373b41' "
          [outerStrokeColor]="'#df7f00'"
          [innerStrokeColor]="'#efbf2d'"
          [animation]="true"
          [animationDuration]="1200"
        ></circle-progress>
                </div>

                <div class="skill">
                  <p class="description">
                    comunicacion
                  </p>
                  <circle-progress
          [percent]="85"
          [radius]="50"
          [outerStrokeWidth]="12"
          [innerStrokeWidth]="5"
          [clockwise]="false"
          [responsive]="false"
          [showUnits]="false"
          [showTitle]="false"
          [showSubtitle]="false"
          [showImage]="true"
          [titleFontSize]=" '35' "
          [imageSrc]="'../../../assets/COMSKILL.png'"
          [imageHeight]="50"
          [imageWidth]="50"
          [titleColor]=" '#373b41' "
          [outerStrokeColor]="'#df7f00'"
          [innerStrokeColor]="'#efbf2d'"
          [animation]="true"
          [animationDuration]="1200"
        ></circle-progress>
                </div>

                <div class="skill">
                  <p class="description">
                    Trabajo en equipo
                  </p>
                  <circle-progress
          [percent]="85"
          [radius]="50"
          [outerStrokeWidth]="12"
          [innerStrokeWidth]="5"
          [clockwise]="false"
          [responsive]="false"
          [showUnits]="false"
          [showTitle]="false"
          [showSubtitle]="false"
          [showImage]="true"
          [titleFontSize]=" '35' "
          [imageSrc]="'../../../assets/equipo.png'"
          [imageHeight]="50"
          [imageWidth]="50"
          [titleColor]=" '#373b41' "
          [outerStrokeColor]="'#df7f00'"
          [innerStrokeColor]="'#efbf2d'"
          [animation]="true"
          [animationDuration]="1200"
        ></circle-progress>
                </div>

                <div class="skill">
                  <p class="description">Iniciativa</p>
                  <circle-progress
          [percent]="85"
          [radius]="50"
          [outerStrokeWidth]="12"
          [innerStrokeWidth]="5"
          [clockwise]="false"
          [responsive]="false"
          [showUnits]="false"
          [showTitle]="false"
          [showSubtitle]="false"
          [showImage]="true"
          [titleFontSize]=" '35' "
          [imageSrc]="'../../../assets/iniciativa.png'"
          [imageHeight]="50"
          [imageWidth]="50"
          [titleColor]=" '#373b41' "
          [outerStrokeColor]="'#df7f00'"
          [innerStrokeColor]="'#efbf2d'"
          [animation]="true"
          [animationDuration]="1200"
        ></circle-progress>
                </div>

                <div class="skill">
                  <p class="description">
                    Resolucion de problemas
                  </p>
                  <circle-progress
          [percent]="85"
          [radius]="50"
          [outerStrokeWidth]="12"
          [innerStrokeWidth]="5"
          [clockwise]="false"
          [responsive]="false"
          [showUnits]="false"
          [showTitle]="false"
          [showSubtitle]="false"
          [showImage]="true"
          [titleFontSize]=" '35' "
          [imageSrc]="'../../../assets/problem.png'"
          [imageHeight]="50"
          [imageWidth]="50"
          [titleColor]=" '#373b41' "
          [outerStrokeColor]="'#df7f00'"
          [innerStrokeColor]="'#efbf2d'"
          [animation]="true"
          [animationDuration]="1200"
        ></circle-progress>
                </div>

            </div>
        </div>
    </div> -->

    <div class="row">
      <h3 class="title">Discos animados Angular con interpolación HS</h3>
      <div class="col-md-12 timeline-content">
          <div class="big">
              <div *ngFor="let elemento of misHardSkills; let i=index" class="skill">
                <p class="description">
                   {{elemento.nombreSkill}}
                </p>
                <circle-progress
        [percent]="elemento.porcentaje"
        [radius]="50"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="5"
        [clockwise]="false"
        [responsive]="false"
        [showUnits]="false"
        [showTitle]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [titleFontSize]=" '35' "
        [imageSrc]="'{{elemento.urlIcono}}'"
        [imageHeight]="50"
        [imageWidth]="50"
        [titleColor]=" '#373b41' "
        [outerStrokeColor]="'#df7f00'"
        [innerStrokeColor]="'#efbf2d'"
        [animation]="true"
        [animationDuration]="1200"
      ></circle-progress>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
    <h3 class="title">Discos animados Angular con interpolación SS </h3>
    <div class="col-md-12 timeline-content">
        <div class="big">
            <div *ngFor="let elemento of misSoftSkills; let i=index" class="skill">
              <p class="description">
                 {{elemento.nombreSkill}}
              </p>
              <circle-progress
      [percent]="85"
      [radius]="50"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="5"
      [clockwise]="false"
      [responsive]="false"
      [showUnits]="false"
      [showTitle]="false"
      [showSubtitle]="false"
      [showImage]="true"
      [titleFontSize]=" '35' "
      [imageSrc]="'../../../assets/gangxxs.png'"
      [imageHeight]="50"
      [imageWidth]="50"
      [titleColor]=" '#373b41' "
      [outerStrokeColor]="'#df7f00'"
      [innerStrokeColor]="'#efbf2d'"
      [animation]="true"
      [animationDuration]="1200"
    ></circle-progress>
            </div>
        </div>
    </div>
</div>

</div>
