<div class="container">
  <h2 id="title"> Habilidades</h2>
  <div class="row">
    <h3 class="title">Cosas</h3>
    <div class="col-md-12 timeline-content">
      <div class="big">
        <div>
          <p class="description">
            Lorem ipsum
          </p>
          <div class="pie pie--value pie--disc" style="--percent:35;"> </div>
        </div>
        <div>
          <p class="description">
            Lorem ipsum
          </p>
          <div class="pie pie--value pie--disc" style="--percent:15;"></div>
        </div>
        <div>
          <p class="description">
            Lorem ipsum
          </p>
          <div class="pie pie--value pie--disc" style="--percent:65;"></div>
        </div>
        <div>
          <p class="description">
            Lorem ipsum
          </p>
          <div class="pie pie--value pie--disc" style="--percent:85;"></div>
        </div>
        <div>
          <p class="description">
            Lorem ipsum
          </p>
          <div class="pie pie--value pie--disc" style="--percent:85;"></div>
        </div>
        <div>
          <p class="description">
            Lorem ipsum
          </p>
          <div class="pie pie--value pie--disc" style="--percent:85;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h3 class="title">Habilidades blandas</h3>
    <div class="col-md-12 timeline-content">
      <div class="big">
        <div>
          <p class="description">
            Lorem ipsum
          </p>
          <div class="pie pie--value pie--disc" style="--percent:35;"> </div>
        </div>
        <div>
          <p class="description">
            Lorem ipsum
          </p>
          <div class="pie pie--value pie--disc" style="--percent:15;"></div>
        </div>
        <div>
          <p class="description">
            Lorem ipsum
          </p>
          <div class="pie pie--value pie--disc" style="--percent:65;"></div>
        </div>
        <div>
          <p class="description">
            Lorem ipsum
          </p>
          <div class="pie pie--value pie--disc" style="--percent:85;"></div>
        </div>
        <div>
          <p class="description">
            Lorem ipsum
          </p>
          <div class="pie pie--value pie--disc" style="--percent:85;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
