<div class="d-flex align-items-center justify-content-center vh-100" >
  <div class="flex-container">
    <div class="text-center flex-item">
      <img src="../../../assets/error404_b.png" alt="error 404" class="img-fluid" id="tres">
    </div>
    <div class="text-center flex-item">
      <a class="nav-link" href="/" >Home</a>
    </div>
  </div>

</div>



<!-- <div class="centrado" id="cinco">
  <div id="dos" class="text-center">
    <img src="../../../assets/error404_b.png" alt="error 404" class="img-fluid" id="tres">
  </div>
  <div class="text-center" id="cuatro">
    <a class="nav-link" href="/" id="cinco">Home</a>
  </div>
</div> -->
