<!--Section: Registro-->
<div class="container">
  <div class="row justify-content-center margin-top-1">
    <!--Section heading-->
    <h2 id="title">Resgistrate</h2>
    <!--Section description-->
    <!--Grid column-->
    <div class="col-md-12 mb-md-0 mb-5">
      <form id="register-form" name="register-form">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="name" name="name" class="form-control" />
              <label for="name" class="">Nombre</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="surname" name="surname" class="form-control"/>
              <label for="surname" class="">Apellido</label>
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="username" name="username" class="form-control" />
              <label for="username" class="">Nombre de usuario</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="email" name="email" class="form-control" />
              <label for="email" class="">Email</label>
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
              />
              <label for="password" class="">Contraseña</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                class="form-control"
              />
              <label for="confirmPassword" class=""
                >Contraseña (confirmación)</label
              >
            </div>
          </div>
          <!--Grid column-->
        </div>
      </form>

      <!-- Submit button -->
      <div class="text-center text-md-left">
        <button
          type="button"
          class="btn btn-block mb-4"
          (click)="registrarme()"
        >
          Registrarme
        </button>
      </div>
      <div class="status"></div>
    </div>
  </div>
</div>
