<div class="container ">
  <div class="row justify-content-center margin-top-1">
    <form class="margin-top-1">
      <div class="centrado col-6 align-items-center margin-top-1">
          <!-- username input -->
        <div class="form-outline mb-2 ">
          <input type="email" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Nombre de usuario</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-2 ">
          <input type="email" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-2 ">
          <input type="password" id="password" class="form-control" />
          <label class="form-label" for="form2Example2">Contraseña</label>
        </div>
        <!-- Password confirm -->
       <div class="form-outline mb-2 ">
          <input type="password" id="confirmPassword" class="form-control" />
          <label class="form-label" for="form2Example2">Contraseña (confirmación)</label>
        </div>
      </div>

      <!-- Submit button -->
      <div class="row text-center justify-content-center">
        <button type="button" class="btn btn-block mb-4" (click)="registrarme()">Registrarme</button>
      </div>
    </form>
  </div>
</div>
