<!-- navbar-->
<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toogle navigation" >
        <span class="navbar-toggler-icon"> </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#jobs">Experiencia Laboral</a></li>
            <li class="nav-item"><a class="nav-link" href="#education">Educación</a></li>
            <li class="nav-item"><a class="nav-link" href="#skills">Habilidades</a></li>
            <li class="nav-item"><a class="nav-link" href="#proyects">Proyectos</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contacto</a></li>
        </ul>
    </div>
  </div>
</nav>
