<div class="container ">
  <div class="row justify-content-center margin-top-1">
    <form class="margin-top-1">
      <div class="centrado col-6 align-items-center margin-top-1">
          <!-- Email input -->
        <div class="form-outline mb-2 ">
          <input type="email" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-2 ">
          <input type="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Contraseña</label>
        </div>
      </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-2">
      <div class="col"></div>

      <div class="col d-flex justify-content-center ">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label " for="form2Example31"> Recordarme </label>
        </div>
      </div>
      <div class="col"></div>

      <div class="col text-center">
        <!-- Simple link -->
        <a href="/404">Olvidé mi contraseña</a>
      </div>
      <div class="col"></div>
    </div>

    <!-- Submit button -->
    <div class="row text-center justify-content-center">
      <button type="button" class="btn btn-block mb-4" (click)="ingresar()">Ingresar</button>
    </div>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Todavia no sos miembro? <a href="/registro">Registrate</a></p>
      <!-- <p>or sign up with:</p>
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>

      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>

      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>

      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button> -->
    </div>
  </form>
</div>
</div>
